@import '../../style/variables.scss';

.user__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
    position: relative;
}

.user__nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    a, button {
        background-color: #EEE;
        border-radius: .2rem;
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid transparent;
        transition: .1s;
        cursor: pointer;
    }

    a:hover,
    a:focus,
    button:hover,
    button:focus {
          background-color: white;
          box-shadow: 0 0 0 3px #EEE;
          border-color: $black;
          outline: none;
    }

    a.active {
        background-color: white;
        box-shadow: 0 0 0 3px $secundary-color;
        border-color: $primary-color;

        svg > * {
            fill: $primary-color;
        }
    }

    &-mobile {
        display: block;
        position: absolute;
        top: 70px;
        right: 0px;
        padding: 0 1rem;
        background: white;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        border-radius: .2rem;
        transform: translateX(-10px);
        opacity: 0;
        pointer-events: none;
        transition: .3s;

        &__active {
            transform: initial;
            opacity: 1;
            pointer-events: initial;
            z-index: 100;
        }

        a, button {
            display: flex;
            align-items: center;
            background-color: transparent;
            width: 100%;
            border: none;
            border-bottom: 1px solid #eee;
            padding: .5rem 0;
            cursor: pointer;
        }

        a {
            svg {
                margin-right: .5rem;
            }
        }

        button {
            border-bottom: none;
        }

        a:hover,
        button:hover {
            svg * {
                fill: $primary-color;
            }
        }
    }
}

.user__mobileButton {
    background-color: #EEE;
    border-radius: .2rem;
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;

    &::after {
        content: '';
        display: block;
        width: 1.2rem;
        height: 2px;
        border-radius: 2px;
        background-color: currentColor;
        box-shadow: 0px 6px currentColor, 0px -6px currentColor;
        transition: .2s;
    }

    &:focus,
    &:hover,
    &.active {
        outline: none;
        background-color: white;
        box-shadow: 0 0 0 3px $secundary-color;
        border-color: $primary-color;
        color: $primary-color;
    }

    &.active {
        &::after {
            transform: rotate(90deg);
            width: 4px;
            height: 4px;
            box-shadow: 0px 8px currentColor, 0px -8px currentColor;
        }
    }
}

.user__photopost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;

    &-file {
        margin-bottom: 1rem;
    }
}

.user__previewImg {
    border-radius: 1rem;
    background-size: cover;
    background-position: center center;

    &::after {
        content: '';
        display: block;
        height: 0;
        padding-bottom: 100%;
    }
}