//colors
$black: #333;
$gray: #666;
$primary-color: #FB1;
$secundary-color: #FEA;
$text-yellow-dark: #764701;
$error-color: #F31;

//fonts
$type-first: 'Helvetica', Arial, sans-serif;
$type-second: 'Spectral', Georgia;