@import '../../style/variables.scss';

.photo {
    margin: auto;
    height: 36rem;
    border-radius: .2rem;
    background-color: white;
    display: grid;
    grid-template-columns: 36rem 20rem;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    opacity: 0;
    transform: scale(.8);
    animation: scaleUp .3s forwards;

    @keyframes scaleUp {
        to {
            opacity: 1;
            transform: initial;
        }
    }

    &__details {
        padding: 2rem 2rem 0 2rem;
    }

    &__img {
        grid-row: 1 / 4;
    }

    &__comments {
        pad: 0 2rem;
    }

    &__author {
        opacity: .5;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a:hover {
            text-decoration: underline;
        }
    }

    &__access::before {
        content: '';
        display: inline-block;
        height: 10px;
        width: 16px;
        margin-right: .5rem;
        background: url('../../assets/visualizacao-black.svg');
    }

    &__attributes {
        display: flex;
        font-size: 1.125rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 2rem;

        li {
            margin-right: 2rem;

            &::before {
                content: '';
                display: inline-block;
                height: 20px;
                width: 2px;
                margin-right: .5rem;
                position: relative;
                top: 3px;
                background: $black;
                margin-top: 5px;
            }
        }
    }
}

@media (max-width: 64rem) {
    .photo {
        height: auto;
        max-width: calc(100vh - 4rem);
        overflow-y: auto;
        grid-template-columns: minmax(20rem, 40rem);
    }

    &__img {
        grid-row: 1;
    }
}