@import '../../style/variables.scss';

.photo {
    margin: auto;
    height: 36rem;
    border-radius: .2rem;
    background-color: white;
    display: grid;
    grid-template-columns: 36rem 20rem;
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    opacity: 0;
    transform: scale(.8);
    animation: scaleUp .3s forwards;

    &__single {
        grid-template-columns: 1fr;
        height: auto;

        .photo__img {
            grid-row: 1;
            border-radius: .4rem;
            overflow: hidden;
        }

        .photo__details {
            padding: 2rem 0px 0px 0px;
        }

        .photo__comments {
            padding: 0px;
        }

        .photo__comments-form {
            margin: 1rem 0;
        }
    }

    @keyframes scaleUp {
        to {
            opacity: 1;
            transform: initial;
        }
    }

    &__details {
        padding: 2rem 2rem 0 2rem;
    }

    &__delete {
        background-color: #ddd;
        padding: .3rem .6rem;
        line-height: 1;
        border: 1px transparent;
        font-size: .875rem;
        font-family: $type-first;
        cursor: pointer;
        border-radius: .4rem;
        transition: .1s;

        &:focus,
        &:hover {
            outline: none;
            background-color: white;
            box-shadow: 0 0 0 3px #eee;
            border-color: $black;
        }
    }

    &__img {
        grid-row: 1 / 4;
    }

    &__comments {
        padding: 0 2rem;
    }

    &__author {
        opacity: .5;
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a:hover {
            text-decoration: underline;
        }
    }

    &__access::before {
        content: '';
        display: inline-block;
        height: 10px;
        width: 16px;
        margin-right: .5rem;
        background: url('../../assets/visualizacao-black.svg');
    }

    &__attributes {
        display: flex;
        font-size: 1.125rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 2rem;

        li {
            margin-right: 2rem;

            &::before {
                content: '';
                display: inline-block;
                height: 20px;
                width: 2px;
                margin-right: .5rem;
                position: relative;
                top: 3px;
                background: $black;
                margin-top: 5px;
            }
        }
    }

    &__comments {
        overflow-y: auto;
        word-break: break-word;
        padding: 0 2rem;

        li {
            margin-bottom: .5rem;
            line-height: 1.2;
        }

        &-form {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: stretch;
            margin: 1rem;

            &__textarea {
                display: block;
                width: 100%;
                font-size: 1rem;
                font-family: $type-first;
                resize: none;
                border: 1px solid #eee;
                padding: .5rem;
                border-radius: .2rem;
                background-color: #eee;
                transition: .2s;

                &:focus,
                &:hover {
                    outline: none;
                    border-color: #fb1;
                    background: white;
                    box-shadow: 0 0 0 3px #fea;
                }
            }

            &__send {
                border: none;
                cursor: pointer;
                color: #333;
                background-color: transparent;
                font-size: 1rem;
                padding: 0 1rem;
                overflow: hidden;

                &:focus,
                &:hover {
                    outline: none;
                }

                &:focus,
                &:hover {
                    svg path {
                        fill: #FEA;
                        stroke: #FB1;
                    }
                }

                &:focus,
                &:hover {
                    svg g {
                        animation: woof .6s infinite;
                    }
                }
            }
        }
    }
}

@keyframes woof {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (max-width: 64rem) {
    .photo {
        height: auto;
        max-width: calc(100vh - 4rem);
        overflow-y: auto;
        grid-template-columns: minmax(20rem, 40rem);

        &__img {
            grid-row: 1;
        }
    }
}